@use '@styles/_fonts';
@use '@styles/_colors';
@use 'sass:map';

.ramp {
    --padding-top: 50;
    --padding-right: 50;
    --padding-bottom: 125;
    --padding-left: 125;

    --notch-length: 15;
    --notch-text-gap: 15;

    --dash-width: 5;
    --dash-length: 10;
    --dash-gap: 20;
    --dash-color: rgba(255, 255, 255, 0.2);
}