.dockerignore
.git/
.gitattributes
.github/
.gitignore
.pre-commit-config.yaml

CodeOfConduct.md
CONTRIBUTING.md

docs/
ExceptionsGranted.md
experimental-data/
frontend/
INSTALL.md
LICENSE
README.md
refs/
start.ps1