@use '@styles/_fonts';
@use '@styles/_colors';

.dashboard {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    height: 100vh;
    width: 100vw;
    padding: 0.625rem;
    box-sizing: border-box;

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: fit-content;
        margin: 1rem 2rem;

        .logo {
            height: 13rem;
        }

        .title {
            @include fonts.title-huge;
            color: var(--text-color);
            width: 100%;
            margin: 0 0 0 1rem;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .buttonsContainer {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 1.25rem;
    }
}