@use "./fonts";
*, *::before, *::after { box-sizing: border-box; }
body { margin: 0; min-width: 320px; }
button, input, select, textarea { font: inherit; }
button { cursor: pointer; }
button:disabled { cursor: not-allowed; }
a:focus-visible, button:focus-visible { outline: 2px solid var(--mantine-primary-color-filled); outline-offset: 3px; }
