@use "./fonts";

button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    transition: 0.3s ease-in-out;
    padding: 0;

    &:hover {
        cursor: pointer;
    }
}

span {
    @include fonts.text-medium;
}

h1, h2, h3, h4, h5, h6, p, span, label {
    margin: 0;
    display: flex;
    align-items: center;
}