
:root {
    // Default theme (Dark)
    --text-color: #ffffff;
    --primary: #ffffff; // TODO: Update the primary colour and use text-color instead
    --secondary: #222222;
    --accent: #bb0808;

    // Default colours
    --confirm: #009951;
    --reject: #c00f0c;
    --error: #ff0000;
}

[data-theme="light"] {
    --primary: #ffffff;
    --secondary: #222222;
    --accent: #bb0808;
}