@mixin text-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

@mixin text-paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 3rem;
}

@mixin title-bold {
    font-weight: 600;
    font-size: 1.5rem;
}

@mixin title-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    text-transform: uppercase;
}

@mixin title-huge {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 8rem;
    font-style: italic;
    text-transform: uppercase;
}