@mixin text-small {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
}

@mixin text-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

@mixin text-paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
}

@mixin title-bold {
    font-weight: 600;
    font-size: 1rem;
}

@mixin title-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
}

@mixin title-huge {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 6rem;
    font-style: italic;
    text-transform: uppercase;
}

@mixin text-code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.75rem;
    line-height: 1.5;
}