@use '@styles/_fonts';
@use '@styles/_colors';
@use 'sass:map';

// Variable for time
$transition-time: 0.4s;

.accordion {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 1.25rem;
    color: var(--primary);
    transition: $transition-time ease-in-out;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        min-height: 6rem;
        color: inherit;
        border-bottom: 0.313rem solid currentColor;
        cursor: pointer;
        overflow: hidden;

        .title {
            @include fonts.title-medium;
            color: inherit;
            white-space: nowrap;
        }

        .iconWrapper {
            height: fit-content;
            width: fit-content;
            color: inherit;

            .icon {
                width: 4.5rem;
                height: 4.5rem;
                color: inherit;
                transition: $transition-time ease-in-out;
            }

        }
    }

    .children {
        display: grid;
        grid-template-rows: 1fr;
        width: 100%;
        color: inherit;
        overflow: hidden;
        transition: $transition-time ease-in-out;
        
        .childrenContent {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            min-height: 0; // Important for grid to work properly
        }
    }

    &.hideChildren {
        gap: 0;

        .children {
            grid-template-rows: 0fr;
            opacity: 0;
            
            .childrenContent {
                gap: 0;
            }
        }

        .header {
            .rotateRight {
                transform: rotate(-90deg);
            }
        }
    }
}