@use '@styles/_fonts';
@use '@styles/_colors';
@use 'sass:map';

.button {
    padding: 0.75rem 1rem;
    width: fit-content;
    height: fit-content;
    gap: 0.5rem;
    border-radius: 100rem;
    color: var(--primary);
    display: flex;
    justify-content: center;

    & > * {
        color: inherit;
        transition: 0.3s ease-in-out;
    }

    .icon {
        height: 1.5rem;
        width: 1.5rem;
    }

    &:hover {
        background-color: var(--primary);
        color: var(--secondary);
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.6;

        &:hover {
            background-color: unset;
            color: var(--primary);
        }
    }
}

.noText {
    padding: 0.75rem;
}