@use '@styles/_fonts';
@use '@styles/_colors';
@use '@styles/_mixins';
@use 'sass:map';

.input {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    height: 100vh;
    width: 100vw;

    .backButton {
        margin: 1.5rem 0 0 0.75rem;
    }

    .inputGrid {
        display: grid;
        grid-template-columns: max-content 1fr; // left fits content, right grows
        grid-template-rows: 1fr auto;           // top grows, bottom fits content
        gap: 1.5rem;
        height: 100%;
        width: 100%;
        overflow: hidden;

        .parameterInputContainer {
            grid-column: 1;
            grid-row: 1;
            margin-left: 2rem;
            padding-right: 1rem;
            @include mixins.scrollbar;
            & { scrollbar-gutter: stable; }

            .baseInputField {
                margin-right: 3rem;
            }
        }

        .parameterInformationContainer {
            grid-column: 2;
            grid-row: 1;
            margin-right: 2rem;
        }

        .inputButtonsContainer {
            grid-column: 1;
            grid-row: 2;
            display: flex;
            justify-content: space-between;
            margin: 0 2.25rem 1rem 1rem;
        }

        .nextButtonContainer {
            grid-column: 2;
            grid-row: 2;
            display: flex;
            justify-content: end;
            gap: 1rem;
            margin: 0 2rem 1rem 0;
        }
    }
}