@use '@styles/_fonts';
@use '@styles/_colors';
@use 'sass:map';

.parameterDescription {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    color: var(--primary);
    width: 100%;
    max-width: 100%;
    flex-shrink: 0;

    .textContainer {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .name {
            min-height: 6rem;
            color: inherit;
            border-bottom: 0.313rem solid currentColor;
            @include fonts.title-medium;
            width: 100%;
            white-space: nowrap;
        }

        .description {
            color: inherit;
            @include fonts.text-paragraph;
        }
    }

    .imageContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        overflow: hidden;

        .image {
            max-width: 100%;
            max-height: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}