@use '@styles/_fonts';

.segmentList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.segment {
    background: var(--secondary);
}

.segmentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    min-height: 4rem;
}

.segmentNumber {
    color: var(--text-color);
    @include fonts.title-bold;
}

.segmentContent {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.segmentFields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;

    & > :nth-child(odd):last-child {
        grid-column: 1 / -1;
    }
}

.field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 2rem;

    label {
        font-size: 0.875rem;
        font-weight: 500;
        color: var(--text-color);
        @include fonts.text-medium;
    }
}

.select {
    width: 100%;
    padding: 0.5rem 0rem;
    border: none;
    border-bottom: 0.125rem solid var(--text-color);
    background: var(--secondary);
    color: var(--text-color);
    cursor: pointer;

    @include fonts.text-medium;

    &:focus {
        outline: none;
    }
}

.addSegmentButton {
    display: flex;
    gap: 2rem;
    font-size: 0.875rem;
    justify-content: center;
    padding-bottom: 1rem;
}
