# Include essential files
!/ProjectSettings/ProjectSettings.asset
!/ProjectSettings/EditorBuildSettings.asset
!/ProjectSettings/InputManager.asset
!/ProjectSettings/GraphicsSettings.asset
!/ProjectSettings/TagManager.asset
!/ProjectSettings/QualitySettings.asset
!/ProjectSettings/ProjectVersion.txt

# Ignore unnecessary files
ProjectSettings/AudioManager.asset
ProjectSettings/ClusterInputManager.asset
ProjectSettings/DynamicsManager.asset
ProjectSettings/EditorSettings.asset
ProjectSettings/MemorySettings.asset
ProjectSettings/MultiplayerManager.asset
ProjectSettings/NavMeshAreas.asset
ProjectSettings/NetworkManager.asset
ProjectSettings/PackageManagerSettings.asset
ProjectSettings/Physics2DSettings.asset
ProjectSettings/PresetManager.asset
ProjectSettings/SceneTemplateSettings.json
ProjectSettings/ShaderGraphSettings.asset
ProjectSettings/TimeManager.asset
ProjectSettings/UnityConnectSettings.asset
ProjectSettings/URPProjectSettings.asset
ProjectSettings/VersionControlSettings.asset
ProjectSettings/VFXManager.asset
ProjectSettings/XRSettings.asset
