@use '@styles/_fonts';

.chartTooltip {
    @include fonts.text-medium;
    white-space: nowrap;
    padding: 0.5rem 0.75rem;
    color: var(--text-color);
    background: var(--tooltip-bg);
    border: 0.5px solid var(--grid-color);
    border-radius: 4px;
    pointer-events: none;
    line-height: 1.4;
}