@use '@styles/_fonts';
@use '@styles/_colors';
@use '@styles/_mixins';
@use 'sass:map';

.playback {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    height: 100vh;
    width: 100vw;
    @include mixins.scrollbar;

    .buttonsContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .leftButtons,
        .rightButtons {
            display: flex;
            flex-direction: row;
        }

        .navigateButton {
            margin: 0.5rem;
            margin-right: 0rem;
        }

        .rightButtons .navigateButton {
            margin-right: 0.5rem;
        }
    }

    .displayGrid {
        flex-grow: 1;

        // make grid of 2 columns and as many rows as needed
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
        overflow-x: hidden;
        padding-right: 1rem;

        .sceneContainer {
            grid-column: 1 / -1;
            height: 60vh;
            min-height: 31.25rem;
            padding-left: 1rem;
        }

        .graphCategory {
            grid-column: 1 / -1;
            display: contents;

            .categoryTitle {
                grid-column: 1 / -1;
                @include fonts.title-medium;
                color: var(--text-color);
                min-height: 4rem;
                margin-left: 1rem;
                border-bottom: 0.25rem solid currentColor;
            }

            .categoryGraphs {
                grid-column: 1 / -1;
                display: contents;
            }
        }
    }

    .playbarContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}